.header {
    background-color: #57BD91; /* Updated green background */
    padding: 20px 40px;
    display: flex;
    align-items: center;
    color: #fff; /* Updated text color to white */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Updated text color to white */
    cursor: pointer;
  }
  
  .logo-x {
    color: #fff; /* Updated text color to white */
    font-weight: bold;
  }

.menu-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0; /* Changed from right to left */
  width: 25%;
  height: 100%;
  background-color: #333;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Adjusted shadow direction */
  transform: translateX(-100%); /* Changed direction for hidden state */
  transition: transform 0.3s ease-in-out;
}

.menu-bar.open {
  transform: translateX(0); /* Open state */
}

@media (max-width: 768px) {
  .menu-bar {
    width: 50%; /* Updated width for mobile devices */
  }
}

header.header {
    width: 100%;
    background-color: #57BD91; /* Updated green background */
    color: #fff; /* Updated text color to white */
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }